<div class="alert alert-warning" role="alert">
  Warning: Runs MUCH faster in chrome and edge (for the curious, it's because they allow you to use canvas drawing inside web workers which also allows tensorflow to use the WebGL backend rather than the CPU).
</div>

<div class="input-group">
  <input type="text" class="form-control" id="user_input" placeholder="Enter Job Title" aria-label="Enter Job Title" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" onclick="startWorker();">Generate</button>
    <button class="btn btn-secondary" type="button" onclick="stopWorker();">Stop</button>
  </div>
</div>

<div class="cover-toggle">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="model-option1" autocomplete="off" checked> Word Model
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="model-option2" autocomplete="off"> Char Model
    </label>
  </div>
</div>

<div class="content-box">
  <div class="cover-address">
    <p id="address" class="address-content"></p>
  </div>
  <div class="cover-date">
    <p id="date" class="date-content"></p>
  </div>
  <div class="cover-start">
    <p id="coverstart"></p>
  </div>
  <div class="letter-content">
    <p><span id="coverletter"></span></p>
  </div>
  <div class="cover-end">
    <p id="coverend"></p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.3.0/dist/tf.min.js"></script>
<script language="JavaScript">
  
  n =  new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();
  
  var worker;

  // Start the web worker
  function startWorker() {
    var sentence_count = 0;
    // Clear everything
    document.getElementById("address").innerHTML = "The Best Company";
    document.getElementById("address").appendChild(document.createElement("br"));
    document.getElementById("address").append("A Great City");
    document.getElementById("address").appendChild(document.createElement("br"));
    document.getElementById("address").append("A Wonderful Country");
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
    document.getElementById("coverstart").innerHTML = "Dear Recruiter,";
    document.getElementById("coverletter").innerHTML = "";
    document.getElementById("coverend").innerHTML = "";
    
    if (typeof(Worker) !== "undefined") {
      if (typeof(worker) == "undefined") {
        // Use toggle button to select which model to use
        if(document.getElementById('model-option2').checked){
          worker = new Worker("../assets/js/job_worker.js");
        }
        else{
          worker = new Worker("../assets/js/job_word_worker.js");
        }
        var txt = document.getElementById("user_input").value;
        worker.postMessage(txt);
        txt = "I am writing to apply for the role of "+txt+".";
        document.getElementById("coverletter").append(txt);
      }
      worker.onmessage = function(event) {
        if(event.data == " i"){
          sentence_count += 1;
          document.getElementById("coverletter").append(".");
          if(sentence_count > 3){
            sentence_count = 0;
            document.getElementById("coverletter").appendChild(document.createElement("br"));
            document.getElementById("coverletter").appendChild(document.createElement("br"));
          }
          else{
            document.getElementById("coverletter").append(" ");
          }
          document.getElementById("coverletter").append("I");
        }
        else if(event.data == "."){
          document.getElementById("coverletter").append(event.data);
          sentence_count += 1;
          if(sentence_count > 3){
            sentence_count = 0;
            document.getElementById("coverletter").appendChild(document.createElement("br"));
            document.getElementById("coverletter").appendChild(document.createElement("br"));
          }
        }
        else if(event.data == "Yours Faithfully,"){
          document.getElementById("coverletter").append(".");
          document.getElementById("coverend").innerHTML = "Yours Faithfully,";
          document.getElementById("coverend").appendChild(document.createElement("br"));
          document.getElementById("coverend").append("Tom Brooks");
          worker.terminate();
          worker = undefined;
        }
        else{
          document.getElementById("coverletter").append(event.data);
        }
      };
    } else {
      document.getElementById("coverletter").innerHTML = "Sorry! No Web Worker support.";
    }
  }

  function stopWorker() {
    worker.terminate();
    worker = undefined;
    document.getElementById("coverletter").append(".");
    document.getElementById("coverend").innerHTML = "Yours Faithfully,";
    document.getElementById("coverend").appendChild(document.createElement("br"));
    document.getElementById("coverend").append("Tom Brooks");
  }

</script>
