<article class="page-button-background">
  <a href="/about">
    <div class="page-button button1"></div>
  </a>
  <div id="divname1" style="display:none">About</div>
  <a href="/cv">
    <div class="page-button button2"></div>
  </a>
  <div id="divname2" style="display:none">CV</div>
  <a href="/games">
    <div class="page-button button3"></div>
  </a>
  <div id="divname3" style="display:none">Games</div>
  <a href="/projects">
    <div class="page-button button4"></div>
  </a>
  <div id="divname4" style="display:none">Projects</div>
  <a href="/wiki/wiki.html">
    <div class="page-button button5"></div>
  </a>
  <div id="divname5" style="display:none">Wiki</div>
</article>

<script src="{{ base.url | prepend: site.url }}/assets/js/letters.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/pagebutton.js"></script>
