<div class="timeline">
  <div class="timeline-background">

    <div class="timeline-title">
      Timeline
    </div>

    <div class="timeline-line line0"></div>

    <div class="timeline-event event1" style="background-image: url('{{ site.baseurl }}/assets/events/birth.png');">
      <div class="event-mask mask1"></div>
    </div>

    <div class="timeline-line line1"></div>

    <div class="timeline-event event2" style="background-image: url('{{ site.baseurl }}/assets/events/Graveney.png');">
      <div class="event-mask mask2"></div>
    </div>

    <div class="timeline-line line2"></div>

    <div class="timeline-event event3" style="background-image: url('{{ site.baseurl }}/assets/events/MPhys.png');">
      <div class="event-mask mask3"></div>
    </div>

    <div class="timeline-line line3"></div>

    <div class="timeline-event event4" style="background-image: url('{{ site.baseurl }}/assets/events/Mantid.png');">
      <div class="event-mask mask4"></div>
    </div>

    <div class="timeline-line line4"></div>

    <div class="timeline-event event5" style="background-image: url('{{ site.baseurl }}/assets/events/Phd.png');">
      <div class="event-mask mask5"></div>
    </div>

    <div class="timeline-line line5"></div>

    <div class="timeline-event event6" style="background-image: url('{{ site.baseurl }}/assets/events/Postdoc.png');">
      <div class="event-mask mask6"></div>
    </div>

    <div class="timeline-line line6"></div>
    <div class="timeline-line line7"></div>
  </div>
  <div class="timeline-text">

    <div class="timeline-date date1">
      16/03/1994
    </div>
    <div class="timeline-label label1">
      Born
    </div>

    <div class="timeline-date date2">
      2006 - 2012
    </div>
    <div class="timeline-label label2">
      Graveney school
    </div>

    <div class="timeline-date date3">
      2012 - 2016
    </div>
    <div class="timeline-label label3">
      University of Manchester - MPhys
    </div>

    <div class="timeline-date date4">
      2015
    </div>
    <div class="timeline-label label4">
      Mantid Project - Intern
    </div>

    <div class="timeline-date date5">
      2016 - 2020
    </div>
    <div class="timeline-label label5">
      University of Sheffield - PhD
    </div>

    <div class="timeline-date date6">
      2020<br>-
    </div>
    <div class="timeline-label label6">
      University of Sheffield - Researcher
    </div>
  </div>
</div>

<script src="{{ base.url | prepend: site.url }}/assets/js/timeline.js"></script>
