/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-logo {
  height: $base-line-height * $base-font-size * 1.75;
  margin-bottom: 0;
  margin-top: 5px;
  margin-right:20px;
  float: left;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }

}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit/4 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 4;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.footer-ending {
  @include relative-font-size(0.7);
  margin-bottom: $spacing-unit / 2;
  text-align: center
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


/**
 * Home page animation
 */

.animation-background {
  position: relative;
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #FFF;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min(40rem, 75vw);
  height: min(12rem, 22.5vw);
  background-color: #FFF;
}

.stagger-visualizer div {
  width: min(.8rem, 1.5vw);
  height: min(.8rem, 1.5vw);
  border: solid #343a40;
  border-width: min(2px, 0.2vw);
  background-color: #343a40;
}

/**
 * Page animation
 */

.page-button-background {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #FFF;
}

.page-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 90px;
  background-color: #FFF;
}

.page-button div {
  width: 6px;
  height: 6px;
  border: 1px solid #343a40;
  background-color: #343a40;
  pointer-events: none;
}
.button1 div{
  border-color: #c23b23;
  background-color: #c23b23;
}
.button2 div{
  border-color: #f39a27;
  background-color: #f39a27;
}
.button3 div{
  border-color: #03c03c;
  background-color: #03c03c;
}
.button4 div{
  border-color: #579abe;
  background-color: #579abe;
}
.button5 div{
  border-color: #976ed7;
  background-color: #976ed7;
}


/**
 * Timeline background
 */

// Div for entire timeline, setting the size
.timeline{
  position: relative;
  width: 100%;
  height: 2900px;
  background-color: #FFF;
}

// Wrapper for the lines and events
.timeline-background {
  position: absolute;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.timeline-title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: #FFF;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  vertical-align: center;
  background-color: #343a40;
  border-radius: 50%;
}

.timeline-line {
  background: #343a40;
  width: 10px;
  height: 400px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
.line7 {
  height: 340px;
}

.timeline-event {
  position: relative;
  background: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid #343a40;
  width: 20px;
  height: 20px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
.event-mask {
  position: absolute;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Wrapper for the dates and labels
.timeline-text {
  position: absolute;
  width: 100%;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
  
.timeline-label {
  position: absolute;
  width: 20%;
  color: #343a40;
  font-weight: 800;
  font-size: 2.5vw;
  right: 0px;
  text-align: right;
}
.label1 {
  top: 380px;
}
.label2 {
  top: 800px;
}
.label3 {
  top: 1220px;
}
.label4 {
  top: 1640px;
}
.label5 {
  top: 2060px;
}
.label6 {
  top: 2480px;
}

.timeline-date {
  position: absolute;
  color: #343a40;
  width: 20%;
  font-weight: 800;
  font-size: 2.5vw;
  left: 0px;
  text-align: left;
}
.date1 {
  top: 380px;
}
.date2 {
  top: 800px;
}
.date3 {
  top: 1220px;
}
.date4 {
  top: 1640px;
}
.date5 {
  top: 2060px;
}
.date6 {
  top: 2480px;
}


/**
 * Skill tree sunburst
 */

.chart-background {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //background-color: #FFF;
  width: 100%;
  height: 725px;
}

.chart {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chart-mask {
  position: absolute;
  z-index: 1000;
  height: 100px;
  width: 100px;
  color: #FFF;
  font-weight: 800;
  font-size: 2em;
  background-color: #343a40;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// Probably a naughty thing to do but hey-ho
// Override the css imported with the sunburst plot
.sunburst-viz .slice path {
  cursor: pointer;
}

.sunburst-viz text {
  font-family: unset !important;
  font-size: 10px !important;
  font-weight: 800 !important;
  dominant-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
  fill: #222;
}

.sunburst-viz text .text-contour {
  fill: none;
  stroke: white;
  stroke-width: 5px !important;
  stroke-linejoin: 'round';
}

.sunburst-viz .main-arc {
  stroke: white;
  stroke-width: 1px;
  transition: opacity .4s;
}

.sunburst-viz .main-arc:hover {
  opacity: 0.85;
  transition: opacity .05s;
}

.sunburst-viz .hidden-arc {
  fill: none;
}

.sunburst-tooltip {
  display: none;
  position: absolute;
  max-width: 320px;
  white-space: nowrap;
  padding: 5px;
  border-radius: 3px;
  font: 12px sans-serif;
  color: #eee;
  background: rgba(0,0,0,0.65);
  pointer-events: none;
}

.sunburst-tooltip .tooltip-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

/*
 * Cover letter
 */

.content-box{
  width: 630px;
  height: 891px;
  float: center;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.cover-address{
  width: 100%;
}
.address-content{
  float: right;
  //display: none;
}
.cover-date{
  width: 100%;
  float: right;
}
.date-content{
  float: right;
}
.cover-start{
  width: 100%;
  float: left;
}
.letter-content{
  float: left;
}
.cover-end{
  width: 100%;
  float: left;
}
